* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: center; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


br{
  color: #E5E5E5;
  border: 1px solid #E5E5E5;
}

.App{
  position: relative;
}

.header{
  padding: 2rem 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-version{

  color: darkgray;
  font-size: 14px;
}

.new-user-button {
  background: #555A88;
  color: white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.37);
}

.new-user{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.52);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-user-form{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 30%;
  font-size: large;
  gap: 1.3rem;
  position: relative;
  z-index: 10;
  border-radius: 20px;
}

.new-user-title{
  color: #0F0F2D;
  font-weight: 700;
  font-size: 32px;
  position: relative;
}

.input-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.submit-button {
  background-color: #555A88;
  border: none;
  color: white;
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(128 128 128 / 73%);
}

.close-form{
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
}

.main-page-body{
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.user-container{
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 10px 10px 10px rgba(109, 109, 109, 0.308);
}

.user-container-title{
  color: #0F0F2D;
  font-weight: 500;
  font-size: 25px;
  padding: 1rem 0;
  position: relative;
}

.user-container-title::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  border: 1px solid #e5e5e580;
  bottom: 0;
  left: 0;
}

.user-subtitle{
  color: #D3D3D3;
}

.user-container-item{
  margin: 1rem 0;
}

.birthday-icon{
  position: relative;
}

.birthday-icon::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  border: 1px solid #e5e5e580;
  bottom: -1.8rem;
  left: 0;
}

.user-container-icons{
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  margin: 2rem 0 1rem;
}
.user-icon-edit{
  background-color: F7F7F7;
  width: 46px;
  height: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #D3D3D3;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
}

.user-icon-delete{
  background-color: #D85D5D;
  width: 46px;
  height: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #FFFFFF;
  border: 1px solid #D93F3F;
  border-radius: 50%;
}

.confirmation-form{
  display: flex;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.52);
  width: 100%;
  height: 100vh;
  z-index: 30;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmation-icon{
  font-size: 10rem;
}

.confirmation-card{
  background-color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.hide{
  display: none;
}

@media only screen and (max-width: 768px){
  .main-page-body{
    margin: 0 10%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    position: relative;
    font-size: 16px;
    font-weight: 400;
  }
  
  .new-user-form{
    padding: 1rem;
    width: 80%;
    gap: 2rem;
    z-index: 10;
    overflow-y: hidden;
  }

  .close-form{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
  }

  #icon{
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .confirmation-card{
    width: 80%;
    padding: 1rem;
  }


}